// Brand Colors
// -------------------------
$brand-color:             #6D2F16 !default;
$brand-sub-color:         #ef3f82 !default;

// Colors
// -------------------------
$font-color:              #231815 !default;


// background Colors
// -------------------------
$header-bg:               #cccccc !default;


// slick-dots
// -------------------------
$slick-dots-color:              #fff !default;
$slick-dots-border:             #000 !default;
$slick-dots-color--active:      #000 !default;
$slick-dots-border--active:     #000 !default;


// header
// -------------------------
$header-bg:               #cccccc !default;
$header-sub-bg:           #e7e7e7 !default;
$menu-button-color:       #000 !default;

$sp-nav-bg:               #e7e7e7 !default;
$sp-nav-border:           #000 !default;



// Content Width
// -------------------------

$content-width--narrow:         1000px !default;
$content-width:                 1200px !default;
$content-width--wide:           1400px !default;


// Inner Padding
// -------------------------
$pd-x-pc:                       8.8% !default;


